* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eeee;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    max-width: 400px;
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 20px 20px;
    border-radius: 25px;
    background: #ffff;
    box-shadow: 0px 0px 15px #a5a4a4;
}

h1 {
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

input {
    width: 95%;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 10px;
    padding-left: 15%;
}

input:focus {
    outline-color: rgb(110, 182, 250);
}
.erro-input {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 0.9rem;
    font-weight: 600;
}

.erro-geral {
    background: rgb(160, 42, 42);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.btn-login {
    width: 93%;
    background: #00c3ff;
    color: white;
    border: 1px solid rgb(114, 177, 236);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
}

.btn-login:hover {
    background: #009bca;

}

a {
    margin: 10px 0px 10px 0px;
    text-decoration: none;
    color: #009bca;
}

.input-icon {
    width: 50px;
    margin: 15px 0px 0px 10px;
    position: absolute;
}

.input-group {
    width: 100%;

}

input[type='checkbox'] {
    display: inline-block;
    height: 18px;
    width: 5%;
    vertical-align: middle;
    margin-bottom: 25px;
}
.label-termos {
    display: inline-block;
    width: 85%;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 13px;
    word-wrap: break-word;
}